.Hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.card-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
}
.man {
  color: #0b69ff;
  font-size: 25px;
}
.little-para {
  font-size: 10px;
}
.button {
  background-color: #0b69ff;
  border: 0px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.Manners {
  color: #0b69ff;
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 5px;
}
